<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4"><br>
    <section class="user_info"><div class="btn btn-default" >
    <%= link_to "Edit profil", edit_user_path(current_user) %></div><div class="btn btn-default" >
    <%= link_to "Log out", logout_path %> </div><br>
    <div class="well well-sm"><h1>
       Your name: <%= @user.name %> 
       <!--, <br> E-mail: <%= @user.email %> <br> -->
       </div>
       <span class="badge"><%= @user.wins %> wins </span>
       <span class="badge"><%= @user.losses %> losses </span>
       <span class="photo"><%= image_tag @user.picture.url , class: "img-responsive img-thumbnail img-circle col-md-5" if @user.picture?  %></span>
      </h1></div>
    </section>
  </aside>
  </div>
