

    <header>
        <div id="page-background">
        
            <%= image_tag("125075-OQKC7D-672.jpg", :width =>"100%", :height => "100%") %>
            
        </div>
    </header>   

    <section id="about">s
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <hr class="primary">
                    <h2 class="section-heading">CODE OF CONDUCT</h2>
                    <hr class="primary">
                    <h3>Ahoy, me matey!</h3> 
                    <h4> Ye'r 'bout to enter a world of naval battles <br/> and plunder
as you take the role of Ol' Capt'n Blackbeard and command his fleet.</h4>
                    
                </div>
            </div>
        </div>
        </br>
        </br>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                    <%= image_tag ("Logo/013-compass.svg") %>
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Compass image</h3>
                        <p class="text-muted"> 'fore the battle ye need to batten down the hatches and
position yer ships. If ye'r a lazy bum, you can use yer pirate's luck
and leave the fleet positioning to yer fortune. Once yer ready, raise
the Jolly Roger and get ready to run a shot across the bow.</p>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <%= image_tag ("Logo/003-sword.svg") %>
                        <h3>Sword image </h3>
                        <p class="text-muted"> Next, the battle will begin. Each seadog shall take turns
at firing a single shot against the enemy fleet. If ye hit the
scalluwag, ye continue firing until ye miss.
</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                    <%= image_tag ("Logo/012-coin.svg") %>
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Coin image</h3>
                        <p class="text-muted"> When ye fire, ye may hit a treasure. Collect 'em dubloons
to upgrade ye ships and buy new abilities, ye scurvy dog.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                    <%= image_tag ("Logo/010-animals-5.svg") %>
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Star image</h3>
                        <p class="text-muted">The winner shall be the buccaneer who first sinks all
enemy's ships. The winner shall be rewarded with booty and notoriety!</p>
                    </div>
                </div>
            </div>
        </div>
    

</br>
</br>
</br>

 
    </section>