<!DOCTYPE html>
<html>
	<head>
  		<title>Battleships</title>

  		<%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  		<%= csrf_meta_tags %>

		
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet" type='text/css'>

		<style type="text/css">
			body {
  				font-family: 'Lato', sans-serif;
  				font-weight: 400; 
 			}
 		</style>

   			<%= render 'layouts/shim' %>
    
       
	</head>



	<body id="page-top">

			<%= render 'layouts/header' %>

		<%= yield %>

			<%= render 'layouts/footer' %>

	</body>
</html>
